<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<html>
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
<!--     // <script src="static/js/jquery-1.12.0.js"></script> -->
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Jquery UI-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="static/js/rangeSlider.js"></script>
    <!-- <script src="static/css/rangeSlider.css"></script> -->
    <link href="static/css/rangeSlider.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/ranking.css"/>
    <script type="text/javascript" src="static/js/d3.js"></script>
    <script type="text/javascript" src="static/js/topojson.js"></script>

    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="static/js/ranking.js"></script>

    <script type="text/css" src="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css"></script>
    <script type="text/javascript" src="static/js/jquery-1.12.0.js"></script>
    <script type="text/javascript" src="static/js/jquery-1.12.0.js"></script>
    <link href="static/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
    <script src="static/js/async.js"></script>
    

 <!-- This is where the title goes. -->    
    {% block title %}
      DEFAULT TITLE
    {% endblock %}


</head>

<body onload="init()">
  <!-- Show Navigation Bar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Find your Spot! . </a>
        </div>

        <div class="navbar-collapse collapse">
            <div class="nav navbar-nav navbar-right">
                    <a href="#">
                        My Profile
                    </a>
            </div>
        </div>

    </div>
</div>

<div class="container">

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>

</body>


<!-- <script type="text/javascript" src="static/js/rankingmap.js"></script> -->

</html>