<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Expires" content="-1">
<html ng-app="spot">
<head>  
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js" charset="utf-8"></script>
     
     <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.js"></script> 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.css"/>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.js"></script>
     <script src="http://cdn.jsdelivr.net/angularjs.nvd3-directives/v0.0.7/angularjs-nvd3-directives.js"></script>
     <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>
    
     <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
    <script src="static/js/d3.tip.v0.6.3.js"></script>
    <script type="text/javascript" src="static/js/jquery-1.12.0.js"></script>
    <script src="static/js/jquery.dataTables.min.js"></script>

    <script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="static/css/jquery-ui.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css">  -->

    <link rel="stylesheet" href="static/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.js"></script>

    
    <script src="static/js/rangeSlider.js"></script>
    <link href="static/css/rangeSlider.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="static/js/topojson.js"></script>

    <script src="static/js/queue.v1.min.js"></script>
    <script src="static/js/async.js"></script>
    <script src="static/js/ranking.js"></script>
    
    <link rel="stylesheet" type="text/css" href="static/css/ranking.css"/>
     

    <!-- <link href="static/css/font-awesome.css" rel="stylesheet"> -->


 <!-- This is where the title goes. -->    
    {% block title %}
      DEFAULT TITLE
    {% endblock %}


</head>

<!-- On load page, draw an empty map. Default state for the table: California -->
<body onload="init()" style="background:#DCE1DE;">

  <!-- Show Navigation Bar -->

<div class="container">
<nav class="navbar navbar-default" style="background:transparent; border:0px;" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a class="navbar-brand navbar-title" href="#">Spot Finder! <i class="fa fa-map-marker"style="color:#E33D51;"></i> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#aboutModal" data-toggle="modal" data-target="#About" style="font-size: 36px;"><i class="fa fa-qq"></i>About</a></li>
      </ul>
      
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<hr>
    <div class="row">
        <div id = "search" class="col-sm-12 col-md-12 sidebar">
            <div class="mini-submenu">
              <i class="fa fa-angle-double-right" style="font-size: 32px; "></i>

            </div>
            <div class="list-group " style="background: white;">
                <span href="#" class="list-title list-group-item">
                    <i class="fa fa-magic"></i> <span class="myFont">Select your Preferences</span>
                    <span class="pull-right" id="slide-submenu">
                        <i class="fa fa-angle-double-left"></i>
                    </span>
                </span>
                <div class="row">
                <div class="col-sm-12 col-md-3">
                <a href="#" class="list-group-item">
                    <i class="fa fa-usd"></i> Cost of Living <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="How important it is for you to live in a cheap place."></i>
                    <div class="panel-body" >
                                    <div class="col-xs-12 col-md-12">
                                          
                                          <input name="living" type="range" min="0" max="2" style="width:100%;">
                                          <output class="opcLiving" id="valor" hidden=true>4</output>
                                          <span id="valueliving">Somewhat Important</span>
                                    </div> 

                                          <label class="control-label col-md-12">Legal Situation:</label>

                                          <div class="col-md-12">
                                              <select class="form-control" id="tax">
                                                  
                                                <option value="1ad">Living Alone</option>
                                                <option value="2ad">Living with a partner</option>
                                                <option value="22">Living with a partner with children</option>
                                                  
                                              </select>
                                          </div>
                                  </div>
                </a>
                </div>
                <div class="col-sm-12 col-md-3">

                <a href="#" class="list-group-item">
                    <i class="fa fa-money"></i> Best Salary <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="How important it is for you to live in a place where you can get the highest salary."></i>
                    <div class="panel-body">
                                    <div class="col-xs-12 col-md-12">
                                          <input name="profession" type="range" min="0" max="2" style="width:100%;">
                                          <output class="opcProfession" hidden=true>4</output>
                                          <span id="valueprofession">Somewhat Important</span>
                                    </div> 

                                          <div class="col-md-12">
                                              <label class="control-label">Select your profession:</label>
                                              <select class="selectpicker" data-live-search="true" data-width='200px' id="profession">
                                                  {% for profession in professions %}
                                                      <option value="{{ profession.title }}">{{ profession.title }}</option>
                                                  {% endfor %}
                                              </select>
                                          </div>
                                          <div class="col-md-12">
                                              <label class="control-label">Select your partner profession:</label>
                                              <select class="selectpicker" data-live-search="true" data-width='200px' id="professionpartner">
                                                  {% for profession in professions %}
                                                      <option value="{{ profession.title }}">{{ profession.title }}</option>
                                                  {% endfor %}
                                              </select>
                                          </div>
                                  </div>
                </a>
                </div>
                <div class="col-sm-12 col-md-3">
                <a href="#" class="list-group-item">
                    <i class="fa fa-heart"></i> Safety <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="How important it is for you to live in a safe place."></i>
                    <div class="panel-body">
                                    <div class="col-xs-12 col-md-12">
                                        <input name = "crime" type="range" min="0" max="2" style="width:100%;">
                                        <output class="opcCrime" id="valor" hidden=true>4</output>
                                        <span id="valuecrime">Somewhat Important</span>
                                    </div>
                                  </div>
                </a>
                </div>
                <div class="col-sm-12 col-md-3">
                <a href="#" class="list-group-item">
                    <i class="fa fa-users"></i> Demographics <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="How important it is for you to live in a place with more people around your age and marital status."></i>
                    <div class="panel-body" >
                                    <div class="col-xs-12 col-md-12">
                                          <input name="marital" type="range" min="0" max="2" style="width:100%;">
                                          <output class="opcMarital" id="valor" hidden=true>4</output>
                                          <span id="valuemarital">Somewhat Important</span>
                                    </div>

                                          <div class="col-xs-12 col-md-12">
                                              <label class="control-label">Age:</label>
                                              <select data-placeholder="Choose your Age" class="form-control" id="age">
                                                      <option value="1524">15 - 24 yrs</option>
                                                      <option value="2539">25 - 39 yrs</option>
                                                      <option value="4059">40 - 59 yrs</option>
                                                      <option value="60">60 - 90 yrs</option>
                                              </select>
                             
                                          </div>
                                          <div class="col-xs-12 col-md-12">
                                              <label class="control-label">Marital Status</label>
                                              <select class="form-control" id="marital">                            
                                                      <option value="single">Single</option>
                                                      <option value="married">Married</option>
                                                      <option value="widowed">Widowed</option>
                                                      <option value="divorced">Divorced</option>                          
                                              </select>
                                          </div>
                                  </div>
                </a>
                </div>
                </div>
                
            </div>        
        </div>
</div>


<div class="container">


  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</div>
    
</div>
<!-- Window to show the   ABOUT section -->


<!-- Modal -->
<div class="modal fade" id="About" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>
                     <h4 class="modal-title" id="myModalLabel">Modal title</h4>

                </div>
                <div class="modal-body">

El conde Pablo Teleki de Szék (en húngaro: Teleki Pál) (1 de noviembre de 1879-3 de abril de 1941) fue un político húngaro, dos veces primer ministro (1920-1921 y 1939-1941). Experto en geografía, fue miembro de la Academia Húngara de Ciencias y presidente de la asociación de Scouts húngara.

Nacido en 1879 en el seno de una aristocrática familia transilvana, Teleki se convirtió en un destacado geógrafo y orientalista. El origen provinciano, la familia y educación privilegiadas y la enraizada fe católica contribuyeron a imbuirle de un intenso conservadurismo. 
<center>
  <span class="label label-warning">HTML5/CSS</span>
                        <span class="label label-info">Adobe CS 5.5</span>
                        <span class="label label-info">Microsoft Office</span>
                        <span class="label label-success">Windows XP, Vista, 7</span>
</center>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #B2DBBF;">Close</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end ABOUT -->


</body>
<footer>



</footer>

</html>