<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1"/>
    <title>Find your Spot! By Counties</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
    <script type="text/javascript" src="static/js/d3.js"></script>
    <script type="text/javascript" src="static/js/topojson.js"></script>
    
    <style>
        path {
            fill: #ccc;
            
        }
        .states {
            fill: none;
            stroke: #fff;
            stroke-linejoin: round;
        }
    </style>
</head>

<body>

<script type="text/javascript">
    var width = 960,
            height = 500;

    // Define the range of colors from left to right (top 1....top last)
    var color = d3.scale.threshold()
            .domain([0, 600, 1200, 1800, 2400, 3000]) // <-A
            .range(["#edf8e9", "#c7e9c0", "#a1d99b", "#74c476", "#31a354", "#006d2c"]);

    var path = d3.geo.path();

    var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

    var g = svg.append("g")
            .call(d3.behavior.zoom()
            .scaleExtent([1, 10])
            .on("zoom", zoom));

    d3.json("/data/us.json", function (error, us) {
        d3.tsv("/data/topstates.tsv", function (error, matches) {
            var rateById = {};

            matches.forEach(function (d) { // <-B
                rateById[d.id] = +d.rate;
            });

            g.append("g")
                    .attr("class", "counties")
                    .selectAll("path")
                    .data(topojson.feature(us, us.objects.counties).features)
                    .enter().append("path")
                    .attr("d", path)
                    .style("fill", function (d) {
                        return color(rateById[d.id]); // <-C
                    });

            g.append("path")
                    .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
                    .attr("class", "states")
                    .attr("d", path);
        });
    });

    function zoom() {
        g.attr("transform", "translate("
                + d3.event.translate
                + ")scale(" + d3.event.scale + ")");
    }
</script>

</body>

</html>