{% extends 'base.html' %}
{% block title %}
    <title>Main Page</title>
{% endblock %}
{% block body %}

<br>
      <div id="result" class="col-xs-12 col-md-12">

  
                <!-- Container of the map -->

                <div id = "mapform" class="container">
                    
                </div>
                 <!-- Show charts when mouse over or mouse click -->
                 
                {% raw %}
                <div id="chartsbystate" class="container" hidden=true>
                  <div class="row" >
                        <div class="col-xs-12 col-md-12">
                          <button type="button" class="btn btn-success" id="showgralbtn" onclick="showChartGral()" >Back to Rank States</button>
                        </div>
                    <div class="board"> 
                      <div class="board-inner">
                        <ul class="nav nav-tabs" >
                        <div class="liner"></div>
                          <li class="active">
                          <a  href="#general"  data-toggle="tab" title="general">
                              <span class="round-tabs one">
                                <i class="glyphicon glyphicon-home"></i>
                              </span> 
                          </a></li>

                          <li><a  href="#charts" data-toggle="tab" title="charts">
                             <span class="round-tabs two">
                                 <i class="glyphicon glyphicon-signal"></i>
                             </span> 
                          </a></li>
                         <li><a  href="#images" data-toggle="tab" title="images">
                             <span class="round-tabs three">
                                  <i class="glyphicon glyphicon-picture"></i>
                             </span> </a>
                             </li>
                     
                        </ul></div>


                     <div class="tab-content">
                          <div class="tab-pane fade in active" ng-controller="SecondCtrl" id="general">
                            <button id="btngral" ng-click="onclickgral()" hidden=true></button>
                            <h3 class="head text-center">General Statistics  <span id="statename"style="color:#f48260;"></span></h3>
                            <div my-customer class="col-xs-12 col-md-10 col-md-offset-2"></div>
                          </div>

                          <div class="tab-pane fade" ng-controller="MainCtrl" id="charts">
                             
                                <div class="row" >
                                <div class="col-lg-4">
                                    <button id="crimebtn" ng-click="onclickcrime()" hidden=true></button>
                                    <h3>Crime by State</h3>
                                    <nvd3 options="optionsbystate" data="datacrime"></nvd3>
                                </div>
                                <div class="col-lg-4">
                                    <button id="maritalbtn" ng-click="onclickmarital()" hidden=true></button>
                                    <h3>Marital Status %</h3>
                                    <nvd3 options="optionsbystate" data="datamarital">Marital</nvd3>
                               </div>
                                <div class="col-lg-4">
                                    <button id="agebtn" ng-click="onclickage()" hidden=true></button>
                                    <h3>Population by Age %</h3>
                                    <nvd3 options="optionsbystate" data="dataage">Age</nvd3>
                                </div>
                                </div>  
                          </div>
                          <div class="tab-pane fade" id="images">
                             <button id="btnimages" onclick="getImagesbyState();" hidden=true></button>
                             <h3 class="head text-center">Gallery<span style="color:#f48260;">♥</span></h3>
                              <div class='row'>
                                  <div class='col-md-10 col-md-offset-1'>
                                    <div class="carousel slide media-carousel" id="media">
                                      <div class="carousel-inner">
                                        <div class="item  active">
                                          <div class="row">
                                            <div class="col-md-4">
                                              <a class="thumbnail" href="#"><img alt="" id = "Image0" src="http://placehold.it/150x150"></a>
                                            </div>          
                                            <div class="col-md-4">
                                              <a class="thumbnail" href="#"><img alt="" id = "Image1" src="http://placehold.it/150x150"></a>
                                            </div>
                                            <div class="col-md-4">
                                              <a class="thumbnail" href="#"><img alt="" id = "Image2" src="http://placehold.it/150x150"></a>
                                            </div>        
                                          </div>
                                        </div>
                                        <div class="item">
                                          <div class="row">
                                            <div class="col-md-4">
                                              <a class="thumbnail" href="#"><img alt="" id = "Image3" src="http://placehold.it/150x150"></a>
                                            </div>          
                                            <div class="col-md-4">
                                              <a class="thumbnail" href="#"><img alt="" id = "Image4" src="http://placehold.it/150x150"></a>
                                            </div>
                                            <div class="col-md-4">
                                              <a class="thumbnail" href="#"><img alt="" id = "Image5" src="http://placehold.it/150x150"></a>
                                            </div>        
                                          </div>
                                        </div>
                                        <div class="item">
                                          <div class="row">
                                            <div class="col-md-4">
                                              <a class="thumbnail" href="#"><img alt="" id = "Image6" src="http://placehold.it/150x150"></a>
                                            </div>          
                                            <div class="col-md-4">
                                              <a class="thumbnail" href="#"><img alt="" id = "Image7" src="http://placehold.it/150x150"></a>
                                            </div>
                                            <div class="col-md-4">
                                              <a class="thumbnail" href="#"><img alt="" id = "Image8" src="http://placehold.it/150x150"></a>
                                            </div>      
                                          </div>
                                        </div>
                                      </div>
                                      <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                      <a data-slide="next" href="#media" class="right carousel-control">›</a>
                                    </div>                          
                                  </div>
                                </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
                <div id="chartsgral" ng-controller="MainCtrl" class="container">
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <h3><span id="nameState">TOP STATES</span></h3>
          
                    </div>
                    
                 </div>
                  <div class="row">
                      <div class="col-xs-12 col-md-8">
                        <h5>Show the TOP: </h5>
                        <select class="form-control" id="ntop">
                                          
                              <option value="3">3 States</option>
                              <option value="5">5 States</option>
                              <option value="10">10 States</option>
                                          
                        </select>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-6">
                        <button id="chgChartCP" ng-click="onclickdata()" hidden=true></button>
                        <nvd3 options="optionsgral" data="data"></nvd3>
                    </div>
                    <div class="col-lg-6">
                        <button id="chgChartML" ng-click="onclickdata2()" hidden=true></button>
                        <nvd3 options="optionsgral" data="data2"></nvd3>
                    </div>
                  </div>
                </div>
                {% endraw %}
                <!-- Container of the Data Table -->
                <div id="infoform" class="container" >
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" style="background-color:#E33D51;">
                                    <p id="ptable" style="font-size:24px; color:#E1eaed;">All the counties</p>
                                </div>
                                <div class="panel-body">
                                    <div >
                                        <table id="infotable" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Living Wage <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="A wage that is high enough to maintain a normal standard of living."></i></th>
                                                    <th>Per Capita Income <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Average income earned per person in a given area."></i></th>
                                                    <th>Discretionary Income <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Amount of an individual's income that is left for spending, investing or saving after taxes and personal necessities ."></i></th>
                                                    <th>Median Household Inc.</th>
                                                    <th>Population</th>
                                                                                                        
                                                </tr>
                                            </thead>
                                            
                                        </table>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                
                    </div>

                
                </div>
      </div>

<!--</div>
</div>-->

<script>
    // function to change the value of the Slider
    function valueOutput(element) {
        var value = element.value,

        output = element.parentNode.getElementsByTagName('output')[0];
        output.innerHTML = value * 4;
        var name = element.getAttribute("name");
        if (value == 2) {
          $('#value'+name).html("Must Have");
        }else if (value == 1) {
          $('#value'+name).html("Somewhat Important");
        }else if (value == 0){
          $('#value'+name).html("Not Important");
        }
        
    }

    // function to add the Event to all sliders (on change call the loadNewData())
    Array.prototype.slice.call(document.querySelectorAll('input[type="range"]')).forEach(function (el) {
            el.addEventListener('input', function (e) {
                valueOutput(e.target);
                loadNewData();  
            }, false);
        });

    // function to add the Event to all selects (on change call the loadNewData())
    Array.prototype.slice.call(document.querySelectorAll('select')).forEach(function(el){
        el.addEventListener('input', function (e){
              loadNewData();
              
        }, false);
    });

    $('#tax').on('change', function(){
      if ($('#tax').val() == '1ad') {
              $('#professionpartner').prop( 'disabled', 'disabled' );
            } else {
              $('#professionpartner').prop( 'disabled', false );
            }
    });

    $('#profession').on('changed.bs.select', function (e) {
        loadNewData(); 
    });
    $('#professionpartner').on('changed.bs.select', function (e) {       
        loadNewData(); 
    });
    $('#professionpartner').on('loaded.bs.select', function (e) {       
        $('#professionpartner').prop( 'disabled', 'disabled' );
    });

    // Set the url ajax to the Data Table
    $(document).ready(function() {

      var tax = $('#tax').val();
      var urlbystate = ""

      if ($('#tax').val()=='1ad') {
          professionpartner = 'None';
      }

      urlbystate = "/search_counties?state_id="+state_id+"&tax="+tax;


      var table = $('#infotable').dataTable( {
              "ajax": {
                "url": urlbystate,
                "type": "GET",
              },
              "columns": [
                { "data": "name" },
                { "data": "wage" },
                { "data": "percapita_income" },
                { "data": "discretionary_income" }, 
                { "data": "median_household_income" },
                { "data": "population" }
                
                ],
                "order": [[ 1, "desc" ]],
                "aoColumnDefs": [ {
                "aTargets": [3],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                  if ( sData < 0 ) {
                    $(nTd).css('color', 'red')
                  }
                }
            } ]
            } );

    } );

$(function(){
$('a[title]').tooltip();
});

$(function(){

  $('#slide-submenu').on('click',function() {             
        $(this).closest('.list-group').fadeOut('slide',function(){
          $('.mini-submenu').fadeIn();  
        });
        
      });

  $('.mini-submenu').on('click',function(){   
        $(this).next('.list-group').toggle('slide');
        $('.mini-submenu').hide();
  })
})

$(document).ready(function() {
  $('#media').carousel({
    pause: false,
    interval: false,
  });
});



</script>



{% endblock %}