{% extends 'base.html' %}
{% block title %}
    <title>Main Page</title>
{% endblock %}
{% block body %}

    <div class="site-wrapper">
    <div class="site-wrapper-inner">

        <h1>Let's Play!</h1>
        <!-- Container of the search -->
        <div id="searchform" class="contaniner">
              <div class="row">
                
                <div class="panel panel-primary col-xs-12 col-md-3" style="height: 220px;">
                  <div class="panel-heading">
                    <h3 class="panel-title">Marital Status & Age</h3>
                  </div>
                  <div class="panel-body" >
                    <div class="col-xs-12 col-md-12">
                                <input type="range" min="0" max="2" style="width:100%;">
                                <output class="opcMarital" id="valor">4</output>
                            </div>

                            <div class="col-xs-12 col-md-12">
                                <label class="control-label">Age:</label>
                                    <select data-placeholder="Choose your Age" class="form-control chzn-select" id="age">
                                            <option value="1524">15 - 24 yrs</option>
                                            <option value="2539">25 - 39 yrs</option>
                                            <option value="4059">40 - 59 yrs</option>
                                            <option value="60">60 - 90 yrs</option>
                                    </select>
               
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <label class="control-label">Marital Status</label>
                                    <select class="form-control" id="marital">                            
                                            <option value="single">Single</option>
                                            <option value="married">Married</option>
                                            <option value="widowed">Widowed</option>
                                            <option value="divorced">Divorced</option>                          
                                    </select>
                                </div>
                  </div>
                </div>
                
                                

                <div class="panel panel-success col-xs-12 col-md-3" style="height: 220px;">
                  <div class="panel-heading">
                    <h3 class="panel-title">Cost of Living</h3>
                  </div>
                  <div class="panel-body">
                    <div class="col-xs-12 col-md-12">
                                    <input type="range" min="0" max="2" style="width:100%;">
                                    <output class="opcLiving" id="valor" >4</output>
                                </div> 

                                <label class="control-label col-md-12">Legal Situation:</label>

                                <div class="col-md-12">
                                    <select class="form-control" id="tax">
                                        
                                            <option value="1ad">Living Alone</option>
                                            <option value="2ad">Living with a partner</option>
                                            <option value="22">Living with a partner with children</option>
                                        
                                    </select>
                                </div>
                  </div>
                </div>
                
                <div class="panel panel-info col-xs-12 col-md-3" style="height: 220px;">
                  <div class="panel-heading">
                    <h3 class="panel-title">Best Salary</h3>
                  </div>
                  <div class="panel-body">
                    <div class="col-xs-12 col-md-12">
                                    <input type="range" min="0" max="2" style="width:100%;">
                                    <output class="opcProfession" >4</output>
                                </div> 

                                    <div class="col-md-12">
                                        <label class="control-label">Professions:</label>
                                        <select data-placeholder="YOUR TEXT" class="form-control chzn-select" id="profession">
                                            {% for profession in professions %}
                                                <option value="{{ profession.title }}">{{ profession.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                  </div>
                </div>
                
                <div class="panel panel-warning col-xs-12 col-md-3" style="height: 220px;">
                  <div class="panel-heading">
                    <h3 class="panel-title">Crime</h3>
                  </div>
                  <div class="panel-body">
                    <div class="col-xs-12 col-md-12">
                                    <input type="range" min="0" max="2" style="width:100%;">
                                    <output class="opcCrime" id="valor">4</output>
                                </div>
                  </div>
                </div>
              
              </div>
        </div>

        <!-- Container of the map -->
        <div id = "mapform" class="container">
            
        </div>
         
        {% raw %}
        <div id="charts" >
          <div class="row" >
            <div class="col-lg-4">
                <button id="crimebtn" ng-click="onclickcrime()" hidden=true></button>
                <h3>Crime by State</h3>
                <nvd3 options="options" data="datacrime"></nvd3>
            </div>
            <div class="col-lg-4">
                <button id="maritalbtn" ng-click="onclickmarital()" hidden=true></button>
                <h3>Marital Status %</h3>
                <nvd3 options="options" data="datamarital">Marital</nvd3>
            </div>
            <div class="col-lg-4">
                <button id="agebtn" ng-click="onclickage()" hidden=true></button>
                <h3>Population by Age %</h3>
                <nvd3 options="options" data="dataage">Age</nvd3>
            </div>
          </div>
        </div>
        {% endraw %}
        <!-- Container of the Data Table -->
        <div id="infoform" class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p id="ptable">All the counties</p>
                        </div>
                        <div class="panel-body">
                            <div >
                                <table id="infotable" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Cost of Living</th>
                                            <th>Avg. Prof. Salary</th>
                                            <th>Marital & Age</th>
                                            <th>Crime</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    
                                </table>
                            </div>
                           
                        </div>
                    </div>
                </div>
        
        </div>

        
    </div>
</div>

<script>
    // function to change the value of the Slider
    function valueOutput(element) {
        var value = element.value,
            output = element.parentNode.getElementsByTagName('output')[0];
        output.innerHTML = value * 4;
        
    }

    // function to add the Event to all sliders (on change call the loadNewData())
    Array.prototype.slice.call(document.querySelectorAll('input[type="range"]')).forEach(function (el) {
            el.addEventListener('input', function (e) {
                valueOutput(e.target);
                loadNewData();  
            }, false);
        });

    // function to add the Event to all selects (on change call the loadNewData())
    Array.prototype.slice.call(document.querySelectorAll('select')).forEach(function(el){
        el.addEventListener('input', function (e){
              loadNewData();
              
        }, false);
    });

    // Set the url ajax to the Data Table
    $(document).ready(function() {

      var tax = $('#tax').val();
      var profession = $('#profession').val();
      var age = $('#age').val();
      var marital = $('#marital').val();
      var wl = $('.opcLiving').val();
      var wp = $('.opcProfession').val();
      var wc = $('.opcCrime').val();
      var wm = $('.opcMarital').val();
      var urlbystate = "/search_counties?state_id="+state_id+"&tax="+tax+"&profession="+profession+"&age="+age+"&marital="+marital+"&opcLiving="+wl+"&opcMarital="+wm+"&opcCrime="+wc+"&opcProfession="+wp;

      var table = $('#infotable').dataTable( {
              "ajax": {
                "url": urlbystate,
                "type": "GET",
              },
              "columns": [
                { "data": "name" },
                { "data": "livingrank" },
                { "data": "professionrank" },
                { "data": "totalmarital" },
                { "data": "crimerank" },
                { "data": "rate" }
                ],
                "order": [[ 5, "desc" ]]
            } );

         
    } );


</script>



{% endblock %}